@import './init.scss';

body{
	background-color:#eee;
}

.clr{
	clear:both;
}

.top_box{
	background-color:#fff;
	padding-top:1rem;

	.img_model{
		width:100%;
		border-bottom:2px solid #eee;
		>img{
			width: 50%;
			margin:0rem auto 1rem;
			display: block;
		}
	}

	.good_info{
		font-size: 0.9rem;
		height: 2.2rem;
		padding:0px 0.7rem;
		>span{
	    height: 2.2rem;
	    line-height: 2.2rem;
		}

		.good_name{
			float:left;
		}
		.good_cost{
			float:right;
			color:$cherry_red;
			font-weight: bold;
		}
	}
}

.reciver_info{
	margin-top:1rem;
	background-color:#fff;
	padding:0.5rem;

	.input_group{
		min-height: 2rem;
		line-height: 2rem;
		color:#333;
		font-size: 1rem;
		padding:0px 0.5rem;
		border-bottom:1px solid #eee;
		position:relative;
		&:last-child{
			border-bottom:none;
		}

		label{
			vertical-align: middle;
			height: 2.4rem;
			line-height: 2.4rem;
		}
		input{
			font-size: 0.9rem;
			height: 2rem;
			border:none;
			vertical-align: middle;
		}
		textarea{
			display: block;
			width:100%;
			border:1px solid #eee;
			resize : none;
			padding:0.5rem;
			font-size: 0.9rem;
			box-sizing:border-box;
		}

		.coins_sum{
			position: absolute;
			right: 0.5rem;
			top:0;
			height: 2.4rem;
	    line-height: 2.4rem;
			font-size:0.9rem;

			.cherry_red{
				color:$cherry_red;
				margin:0px 0.2rem;
			}
		}
	}
}

.exchange_btn{
	width:90%;
	display:block;
	margin:1rem auto;
	background-color:$goldden;
	border:none;
	height:2rem;
	font-size:1rem;
	color:#fff;
	border-radius:0.5rem;
}

.exchange_btn_disable{
	background-color:#aaa!important;
}

.dialog_close_btn{
  background: url(/public/mobile/images/checkin/gray_close_btn.png) 45% 0px no-repeat;
  background-size: contain;
  display: inline-block;
  position: absolute;
  z-index: 131;
  right: 2%;
  top: 5%;
  height: 1rem;
  width: 1rem;

}

.success_ask{
  display: none;
  z-index: 100;
  position: fixed;
  top: 50%;
  left: 50%;
  background: #fff;
  border: 1px solid #eee;
  transform: translate(-50%,-50%);
  width: 70%;
  min-height: 100px;
  box-shadow: 0px 0px 2px 3px #eee;

  >h2{
    line-height: 4rem;
    text-align: center;
  }
  .opera_bottom{
  	font-size: 0px;
  	>a{
			display: inline-block;
	    width: 44%;
	    font-size: 0.8rem;
	    text-align: center;
	    min-height: 1rem;
	    line-height: 1rem;
	    background: #eee;
	    margin: 0px 3%;
	    padding: 0.3rem;
	    box-sizing: border-box;
	    border-radius: 0.3rem;
  	}
  	.left{
  		background-color:#aaa;
  		color:#fff;
  	}
  	.right{
  		background-color:$goldden;
  		color:#fff;
  	}
  }
}