@import './init.scss';


.yellow_b_word{
	color:#ffd403;
}
.point_bg{
	background-image:url('/public/mobile/images/checkin/point_bg.png');
	background-position:0px 0px;
	background-size: 100% auto;
	background-repeat: repeat-y;
}

.body_content{
	width:100%;
	background-color:#db032c;
	.raffle_logo{
		width: 90%;
		display: block;
		margin:0px auto;
		padding:0.2rem 0px;
	}

	@at-root .raffle_box{
		margin-top:0.15rem;
		.top_bar{
			display: flex;
			justify-content: space-around;

			.item{
				font-size:0.18rem;
				color:#fff;
			}
		}
		.raffle_content{
			position: relative;
			margin:0.1rem auto;
			width:2.8rem;
			height: 2.8rem;
			background-color:#fe4236;
			border-radius:0.1rem;
			padding:0.2rem;
			box-sizing:border-box;

			.raffle_pan{
				background-color: $cherry_red;
				width:100%;
				height: 100%;
				border-radius:0.07rem;
				display: flex;
				flex-wrap:wrap;
				justify-content: space-around;
				align-items:center;

				.award_item{
					width:30%;
					height: 30%;
					text-align:center;
					background-color:#fff;
					border-radius:0.05rem;
				}

				.gray_cover{
					position:relative;
					&:after{
						content:"";
						width:100%;
						height: 100%;
						background-color:#888;
						opacity:0.5;
						position:absolute;
						top:0px;
						left:0px;
					}
				}

				.raffle_btn{
					width:30%;
					height: 30%;
					display: inline-block;
					background:url('/public/mobile/images/checkin/drwa_btn.png') 0px 0px no-repeat;
					background-size:100% 100%;
					border:none;
					font-size: 0.2rem;
					text-align: center;
					color:$scarlet;
					font-weight: 600;
					border-radius:0.05rem;
					padding:0px;
				}
			}
		}
	}

	@at-root .rule_box{
		margin-top:0.1rem;
		.title{
			display: flex;
			justify-content: space-around;
			align-items:center;
			font-size:0.2rem;
			color:#fff;
			.line{
				height: 2px;
				width:30%;
				border-bottom:2px solid #fff;
			}
		}

		.rule_content{
			padding:0.1rem;
			p{
				line-height:0.22rem;
				margin:0.05rem 0rem;
				font-size: 0.14rem;
				color:#fff;
			}
		}
	}

	@at-root .prize_get_show{
		position:fixed;
		width:3rem;
		height: 2.2rem;
		z-index: 100;
		display: none;
		top:20%;
		left: 50%;
		background:url('/public/mobile/images/checkin/gongxi.png') center center no-repeat;
		background-size:cover;
		@include transform(translateX(-50%));
		text-align: center;

		.prize_text{
			position:absolute;
			bottom:0.5rem;
			left: 50%;
			font-size: 0.16rem;
			width: 3rem;
			color:$cherry_red;
			@include transform(translateX(-50%));
		}

		.prize_get_btn{
			position:absolute;
			bottom:0.1rem;
			width:35%;
			left: 50%;
			@include transform(translateX(-50%));
		}
	}
}

// spin stars
.star_item{
	width:0.1rem;
	height:0.1rem;
	position:absolute;
	display:inline-block;
	border-radius:50%;
	box-shadow:1px 1px 30px -3px #fff;
}
.cherry_star{
	background-color:#f96e6d;
}
.yellow_star{
	background-color:#ffd403;
}
.biling{
	@include transform(rotateY(180deg))
}